/* SIGN-IN */
#sign-in {
  border-radius: 25px;
  border: 2px solid rgba(0, 0, 0, 0.15);
  width: 40%;
  margin-top: 4%;
  margin-bottom: 10%;
  padding: 2%;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

/* SIGN-UP */
#sign-up {
  border-radius: 25px;
  border: 2px solid rgba(0, 0, 0, 0.15);
  width: 70%;
  margin-top: 4%;
  margin-bottom: 5%;
  padding: 2%;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.6);
}

#fieldset-signup legend {
  width: 190px;
  text-align: left;
  margin-left: 2px;
}

.formLabel {
  float: left;
  margin-left: 2%;
  margin-top: 3px;
}

@media only screen and (max-width: 768px) {
  #sign-in,
  #sign-up {
    border: none;
    box-shadow: none;
    width: 100%;
  }
}
