/* COLORS */
:root {
  --main-color: #126b69;
  --secondary-color: #23cd9f;
  --alternative-color: #117c5f;
}

/* NAVBAR */
@media screen and (min-width: 992px) {
  .nav-item {
    position: relative;
    top: 25px;
    font-size: 20px;
  }
}

/* MAP */
.map {
  height: 400px;
  width: 100%;
  padding: 10px;
}

/* RADAR CHART */
#chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 3px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

#radar-chart {
  width: 70%;
  height: 70%;
}

@media screen and (min-width: 992px) {
  #radar-chart {
    width: 40%;
    height: 40%;
  }
}

.chartjs-tooltip-key {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

h3 {
  color: var(--main-color);
}
h4 {
  color: var(--alternative-color);
}
h5 {
  color: var(--secondary-color);
}
