/* COLORS */
:root {
  --main-color: #126b69;
  --secondary-color: #23cd9f;
  --alternative-color: #117c5f;
}

/* MAP */
.map {
  height: 400px;
  width: 100%;
  padding: 10px;
}

h3 {
  color: var(--main-color);
}
h4 {
  color: var(--alternative-color);
}
h5 {
  color: var(--secondary-color);
}
