@media only screen and (min-width: 992px) {
  .profile {
    width: 50%;
    margin: 0 auto;
    border: solid 2px var(--main-color);
    padding: 1%;
    border-radius: 5px;
  }

  .submit-card {
    position: relative;
    top: 140px;
  }
}

/* Credit Card */
#credit-card h3 {
  text-align: center;
  text-decoration: underline;
}

.credit-card {
  background-color: var(--secondary-color);
  border: solid 2px var(--secondary-color);
  border-radius: 20px;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  margin-top: 2%;
  opacity: 0.85;
}

.submit-card {
  margin-top: 10px;
  background-color: var(--main-color);
  border: none;
  opacity: 0.8;
}

.submit-card:hover {
  background-color: var(--main-color);
  border: none;
  opacity: 1;
}

/* Credit Card - Front */
.bank-name {
  position: relative;
  left: 350px;
  top: 15px;
  font-size: 40px;
}

.chip {
  position: relative;
  top: -10px;
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 50px;
  height: 35px;
  margin-left: 30px;
}

.custom-dollar {
  position: relative;
  left: 17px;
  top: 3px;
}

.card-number {
  position: relative;
  margin: 0 auto;
  top: 5px;
  left: 30px;
}

.card-number input {
  width: 245px;
  font-size: 20px;
}

.card-validity {
  position: relative;
  top: 5px;
  left: 30px;
}

.card-name {
  position: relative;
  top: 5px;
  left: 30px;
}

.card-name input {
  width: 280px;
}

/* Credit Card - Back */
.mag-strip {
  position: relative;
  top: 40px;
  background-color: black;
  width: 500px;
  height: 50px;
  left: -14px;
}

.signature {
  position: relative;
  top: 60px;
  left: 35px;
}

.cvc-code {
  position: relative;
  top: -15px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8));
  width: 400px;
}

.cvc-code input {
  position: relative;
  left: 363px;
  width: 37px;
  border: none;
}

.hologram {
  position: relative;
  top: 105px;
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 50px;
  height: 35px;
  margin-left: 40px;
}

.custom-star {
  position: relative;
  left: 13.5px;
  top: 2px;
}

.historic-block {
  text-align: center;
  width: 600px;
  border: dashed 2px var(--main-color);
  background-color: rgba(78, 228, 188, 0.2);
  margin: 0 auto;
  padding: 2%;
  max-height: 800px;
  overflow-y: auto;
}

.card-historic {
  background-color: #fff;
  margin: 0 auto;
  border: solid 2px var(--main-color);
  width: 600px;
  padding: 1%;
  margin-bottom: 10px;
  cursor: pointer;
}

.card-historic:hover {
  background-color: rgba(78, 228, 188, 0.1);
}

.card-historic-date {
  font-size: x-large;
  color: var(--main-color);
}

.card-historic-value {
  font-size: 24px;
  color: var(--secondary-color);
}

.cart-product {
  border: solid 1px var(--main-color);
  border-radius: 5px;
  margin: 1%;
  padding: 1%;
}

.cart-product img {
  height: 70px;
}

.span-cart-provider {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
}

.value {
  font-size: 30px;
  color: var(--alternative-color);
}

.dashed-value {
  text-decoration: line-through;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.4);
}

#products-list {
  padding: 2%;
}
